body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.layer {
  background-color: #1ABC9C;
  opacity: 0;
  transition: all 0.5s;
  cursor: pointer;
}

.main-layer:hover .layer {
  opacity: 1;
}

.layer-2 {
  z-index: 9999;
}

.layer-2 img {
  width: 600px;
}

.navbar-nav .nav-link.active {
  background-color: #1ABC9C;
  border-radius: 7px;
}